@media only screen and (max-width: 1275px) {
	.reg-row-frame {
		font-size: 15px;
	}
	.submit-frame .button {
		font-size: 15px;
		width: 75px;
		height: 30px;
	}
}

@media only screen and (max-width: 950px) {
	.reg-row-frame {
		font-size: 75%;
	}
	.submit-frame .button {
		font-size: 13px;
		width: 75px;
		height: 30px;
	}
}