{% extends "base.html" %}

<!DOCTYPE html>
<html>

{% load static %}

{% block heading %}
	<title>Schedule</title>
{% endblock heading %}

{% block content %}
	<body2>
		<div class="blue-rec-2">
			<div class="day"></div>
			<div class="day">Monday</div>
			<div class="day">Tuesday</div>
			<div class="day">Wednesday</div>
			<div class="day">Thursday</div>
			<div class="day">Friday</div>
		<div class="day"></div>
		</div>
		<div class="row-sce">
			<p id="p1"></p>
			<script src="{% static 'sched.js' %}"></script> 	
			</div>
		</div>
	</body2>
{% endblock content %}

</html>