{% extends "base5.html" %}

{% load static %}

{% block title %}my schedule{% endblock %}

{% block css %}{% static 'css/story5/s5.css' %}{% endblock %}

{% block content %}
<body>
<div class="schedule-list">
    
    <h1 id="title">My Schedule <a href="/Story-5/addSchedule/" class="w3-button w3-xlarge w3-green w3-card-4">+ Create</a></h1>
    <div class="w3-container">
    </div>
    {% for schedule in schedules %}
      <div class="desc">
        <p id="schedule-name">{{ schedule.name }}</p>
        <p>Category: {{ schedule.category }}</p>
      </div>
      <div class="date">
        <p>{{ schedule.date|date:"l" }}, {{ schedule.date.date }} - {{ schedule.time }} at {{ schedule.venue }}</p>
      </div>
    {% endfor %}
    <a id="title" href="/Story-5/wipeSchedule/" class="w3-button w3-xlarge w3-red w3-card-4">Wipe Schedule</a>
</div>
</body>
{% endblock %}